@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<header>

    <nav></nav>
    <div id="container">
         
        <img id="ResterauntImage"src=""/>
        <div id="SiteDescription">
        <h1>Search for your favorite resteraunts!</h1>
        <h1>Find out what other people are saying about local resteraunts.</h1>
        </div>
    </div>


  
</header>

<article>
    <header>

        <h1> Our Story:</h1> 
    </header>

    <section>
        <p> We opened as a family business in early 2018.</p>
         we have now grown to a company of <strong> 40 passionate eaters.</strong>
        <p> we provide <em> an easy and centralized way to find the <b> best rated</b> restaraunts around the world. </em></p>


    </section>
    <aside>


    </aside>



</article>
<section></section>
<aside></aside>
<footer>

    &copy; Usf-Revature 2018
</footer>